:root {
  --bg: #FFF8F0;
  --bg-shade-1: #FFECD6;
  --header-bg: #406e72;
  --title-bg: #9DD9D2;
  --accent-light: #FFB870;
  --accent: #ffbf80;
  --accent-dark: #E07000;
}

body {
  max-width: 900px;
  margin: 0 auto;
  font-family: system-ui;
  line-height: 1.5;
  font-size: 14px;
  background-color: var(--bg);
  color: #555;
}

@media (min-width: 700px) { 
  body {
    padding: 20px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2 {
  font-weight: 200;
}

h3, p, a {
  font-weight: 300;
  margin: 0 0 5px 0;
}

h3 {
  font-size: 16px;
}

a {
  margin: 0;
}

a.link {
  position: relative;
  text-decoration: none;
  color: var(--accent-dark);
}

a.link::after {
  content: '';
  background: var(--accent-light);
  position: absolute;
  left: 14px;
  bottom: -8px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  transform: scaleY(0.2);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

a.link:hover::after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(1);
}
header.svelte-1yozmn1{background:var(--header-bg);color:white;padding:20px;margin:0 0 20px 0}@media(min-width: 700px){header.svelte-1yozmn1{border-radius:4px;display:grid;grid-template:auto 1fr / 1fr 10fr;column-gap:30px}}img.svelte-1yozmn1{display:block;width:200px;height:200px;border-radius:4px;grid-row:1 / span 3;margin:1rem auto;box-shadow:-1px 26px 27px -8px rgba(0,0,0,0.51)}h1.svelte-1yozmn1{font-size:26px;margin:5px 0}p.svelte-1yozmn1{margin:0}h2.svelte-1udkkcx{margin:10px 0}.divider.svelte-1udkkcx{height:5px;width:100%;background:var(--title-bg);margin-bottom:10px}section.svelte-1wpjq7y{grid-row:1 / auto;grid-column:1 / span 1}div.svelte-1wpjq7y{display:flex;padding:8px 0}@media(min-width: 700px){div.svelte-1wpjq7y{padding:4px 0}}span.svelte-1wpjq7y{margin-right:5px;display:flex;align-items:center}a.svelte-1wpjq7y,p.svelte-1wpjq7y{font-size:13px}a.svelte-1wpjq7y{color:inherit;text-decoration:none}a.svelte-1wpjq7y:hover{text-decoration:underline}p.svelte-1wpjq7y{margin:0}section.svelte-dpmrg3{grid-row:1 / span 3;grid-column:2 / span 1}li.svelte-dpmrg3{margin:20px 0}section.svelte-17ooj69{grid-row:2 / auto;grid-column:1 / span 1}h3.svelte-17ooj69{font-size:14px}section.svelte-154sh5v{grid-row:4 / auto;grid-column:2 / span 1}a.svelte-154sh5v{display:inline-block}li.svelte-154sh5v{margin:20px 0}section.svelte-1jski51{grid-row:3 / auto;grid-column:1 / span 1}ul.svelte-1jski51{display:flex;flex-wrap:wrap;gap:0.25rem}li.svelte-1jski51{font-size:12px;padding:0.25rem 0.5rem;background-color:var(--bg-shade-1);border-radius:0.5rem}section.svelte-1fb9qh0{grid-row:4 / auto;grid-column:1 / span 1}li.svelte-1fb9qh0{position:relative;overflow:hidden;display:flex;align-items:center;margin:5px 0;padding:5px 10px;border:1px solid var(--accent);border-radius:4px;font-size:12px}small.svelte-1fb9qh0{position:absolute;right:5px}.progress.svelte-1fb9qh0{top:0;left:0;position:absolute;height:100%;background:var(--accent);z-index:-1}main.svelte-1bo3ptj{padding:0 20px;grid-template:auto auto auto auto / 2fr 8fr;column-gap:30px}@media(min-width: 700px){main.svelte-1bo3ptj{padding:0;display:grid}}