@font-face {
  font-family: 'icomoon';
  src: url('icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-location:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-website:before {
  content: "\e905";
}

a.link {
  --link: #EC407A;

  position: relative;
  text-decoration: none;
  color: var(--link);
}

a.link::after {
  content: '';
  background: rgba(236, 64, 122, 0.25);
  position: absolute;
  left: 14px;
  bottom: -8px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  transform: scaleY(0.2);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

a.link:hover::after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(1);
}